
:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
    --color-primary: #088178;
    --color-white: #e9e9e9;
    --color-black-1: #212b38;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}   
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: #fff;
  }
  
  .logo {
    color: var(--color-white);
    font-size: 30px;
  }
  
  .logo span {
    color: var(--main-color);
  }
  
  .menu-bar {
    background-color: #353432;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    padding: 10px 30px;
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--main-color);
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #353432;
   
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
   .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 100%;
    top: 0%;
    background-color: #353432;
  }
  
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
  }


.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 20px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    color: #E8BC0E;
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 40px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 100px 140px 40px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Homepage */

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    background:url(../Product/image/backgroud.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color:#555;
    font-family:Helvetica;
}

.home .content p{
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.8;
    padding:1rem 0;
    color: #fff;
}

 /* features */

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
  }
  
  #feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 211, 0.1);
  }
  #feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
  }
  
  #feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #0000cd;
    background-color: #fddde4;
    font-size: medium;
  }
  
  #feature .fe-box:nth-child(2) h6{
    font-size: medium;
    background-color: #cdebbc;
  }
  #feature .fe-box:nth-child(3) h6{
    font-size: medium;
    background-color: #d1e8f8;
  }
  #feature .fe-box:nth-child(4) h6{
    font-size: medium;
    background-color: #cdd4f8;
  }
  #feature .fe-box:nth-child(5) h6{
    font-size: medium;
    background-color: #f6dbf6;
  }
  #feature .fe-box:nth-child(6) h6{
    font-size: medium;
    background-color: #fff2e5;
  } 

  #product1{
    font-size: xx-large;
    text-align: center;
  }


  #banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("image/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
  }
  #banner h4{
    color: #fff;
    font-size: 16px;
  }
  #banner h1{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
  }
  #banner h1 span {
    color: #d3ad7f;
  }

  #banner button:hover{
    background-color: #088178;
    color: #fff;
  }
  #sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .normal{
    font-size: 18px;
    font-weight: bold;
    background: #d3ad7f;
    width: 150px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: #555;
  }




  #newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(image/b14.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color: #041e42;
  }

  #newsletter h4{
    font-size: 30px;
    font-weight: 700;
    color:#fff;
  }
  #newsletter p{

    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    color:#818ea0;
  }
  #newsletter p span{
    color:#d3ad7f;
  }
  #newsletter .form{
    display: flex;
    width: 40%;
  }
  #newsletter input{
    height: 5.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #newsletter button{
    height: 5.125rem;
    background-color: #d3ad7f;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  footer{
    display: flex;
    padding: 5%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .logo1 {
    color: var(--color-primary);
    font-size: 30px;
  }
  
  .logo1 span {
    color: var(--main-color);
  }
  footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  footer h4{
  padding-bottom: 10px;
    font-size: 20px;
    padding-bottom: 20px;
  }
  footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
  }
  footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px
  }

  footer .follow{
    font-size: xx-large;
    margin-top: 20ox;
  }
  footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
  }
  footer .install .row img{
    border: 1px solid #041e42;
    border-radius: 6px;
  }

  footer .install img{
    margin: 10px 0 15px 0;
  }
  footer .follow i:hover,
  footer a:hover{
    color: #d3ad7f;
  }
  footer .copyright{
    width: 100%;
    text-align: center;
  }

  




